//breakpoints
$breakpoint-xs: 380px;
$breakpoint-sm: 600px;
$breakpoint-md: 992px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

//standard colours
$color-black: #000000;
$color-white: #FFFFFF;
$color-facebook: #3261a1;
$color-twitter: #25aae1;
$color-pinterest: #ce2127;
$color-youtube: #ee3038;
$color-vimeo: #16bbec;
$color-instagram: #125688;

//misc
$radius-size: 5px;
$transition-time: 0.3s;
$node-path: "../../node_modules/";
