body {
  font-family: 'Roboto';
  @include font-size(20);

  @include breakpoint(large) {
    @include font-size(18);
  }

  @include breakpoint(medium) {
    @include font-size(16);
  }

  @include breakpoint(small) {
    @include font-size(14);
  }
}

h1 {
  @include font-size(50);

  @include breakpoint(large) {
    @include font-size(45);
  }

  @include breakpoint(medium) {
    @include font-size(40);
  }

  @include breakpoint(small) {
    @include font-size(35);
  }
}

.fa-check {
  color: green;
  @include font-size(20);
  margin-right: 10px;
}
